
</div>
<hr style="margin: 0;">
<a role="button" class="collapsed" data-toggle="collapse" href="#collapseclog" aria-expanded="false" aria-controls="collapseclog"> Read More...
</a>
</div>
<br>
    </div>
</div>
<footer class="footer mt-auto py-3 customfooter">
    <div class="container customfooter">
      <span class="customfooter">
        <p>Created by Ryan Miller</p>
        <p><a class="customfooter" href="mailto:rmil0007@student.monash.edu" target="_blank">rmil0007@student.monash.edu</a></p>
        <p><a class="customfooter" href="https://forms.gle/xdpVwzmMDfABqJ8XA" target="_blank">Report an Issue</a></p>
        <p>Not affiliated with Monash University</p>
        <p>This tool was created by a student of Monash for students of Monash, Monash University in no way supports this tool or its creator. All data used in this tool is scraped from the Monash handbook website using a custom built web scraping tool, as such, there may be errors in the interpretation of the scraped data.</p>
      </span>
    </div>
  </footer>
</body>
</html>